---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Kebabhan - About">
  <div class="col-span-10 xl:col-span-4 font-news">
    <p>Every bit about myself here (still thinking)</p>
  </div>
</PageLayout>
