---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Works from "../components/Works.astro";
import About from "../components/About.astro";
import SpotifyPlay from "../components/SpotifyPlay.astro";
---

<Layout title="Kebabhan - Fullstack Dev">
  <div
    id="blur-work-bg"
    class="fixed z-10 size-full bg-black/20 backdrop-blur-lg inset-0 pointer-events-none transition-all opacity-0 duration-500"
  >
  </div>

  <main
    class="w-full flex flex-col items-center justify-center bg-[#222222] overflow-hidden h-screen px-5"
  >
    <div class="w-full max-w-sm">
      <!-- Glance -->
      <div class="w-full relative group flex flex-col items-center">
        <div
          class="bg-[#2D2D2D] w-full relative rounded-full border border-white/5 p-2 flex items"
        >
          <div class="size-9 rounded-full bg-blue-500 overflow-hidden">
            <img src={"/me.jpg"} alt="" class="size-full object-cover" />
          </div>
          <div class="flex flex-col ml-3 mr-3">
            <p class="font-medium text-sm">Kebabhan</p>
            <p class="text-neutral-500 text-xs">Fullstack Developer</p>
          </div>

          <a
            href="mailto:han@arcturelab.com"
            class="bg-sunny/5 rounded-full font-medium ml-auto px-4 py-2 text-sm text-sunny hover:bg-sunny/10 flex items-center gap-1.5"
            >Say Hi!

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-mail size-3.5 mb-0.5"
              ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
            >
          </a>
        </div>

        <div class="mt-2 flex w-full gap-2 justify-between">
          <div class="flex-1 overflow-hidden max-w-max">
            <SpotifyPlay />
          </div>

          <div
            class="shrink-0 flex flex-wrap items-center gap-3 font-news text-sm bg-white/5 px-2 py-1 rounded-full border border-white/5"
          >
            <a
              href="https://github.com/tfarhan00"
              target="_blank"
              class="hover:underline hover:text-neutral-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-neutral-400 size-5 hover:fill-neutral-500"
                viewBox="0 0 256 256"
                ><path
                  d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
                ></path></svg
              >
            </a>
            <a
              href="https://linkedin.com/in/tengkufarhan"
              target="_blank"
              class="hover:underline hover:text-neutral-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-neutral-400 size-5 hover:fill-neutral-500"
                viewBox="0 0 256 256"
                ><path
                  d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"
                ></path></svg
              >
            </a>
            <a
              href="https://t.me/havernut"
              target="_blank"
              class="hover:underline hover:text-neutral-600"
            >
              <svg
                class="fill-neutral-400 size-5 hover:fill-neutral-500"
                viewBox="0 0 256 256"
                ><path
                  d="M228.88,26.19a9,9,0,0,0-9.16-1.57L17.06,103.93a14.22,14.22,0,0,0,2.43,27.21L72,141.45V200a15.92,15.92,0,0,0,10,14.83,15.91,15.91,0,0,0,17.51-3.73l25.32-26.26L165,220a15.88,15.88,0,0,0,10.51,4,16.3,16.3,0,0,0,5-.79,15.85,15.85,0,0,0,10.67-11.63L231.77,35A9,9,0,0,0,228.88,26.19Zm-61.14,36L78.15,126.35l-49.6-9.73ZM88,200V152.52l24.79,21.74Zm87.53,8L92.85,135.5l119-85.29Z"
                ></path></svg
              >
            </a>
            <a
              href="mailto:farhan@kebabhan.dev"
              class="hover:underline hover:text-neutral-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-neutral-400 size-5 hover:fill-neutral-500"
                viewBox="0 0 256 256"
                ><path
                  d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>

      <div class="w-full relative mt-4 h-48">
        <div
          id="content"
          data-selected="false"
          class:list={[
            "size-full absolute top-0 left-0 transition-all opacity-50 translate-y-0 data-[selected=true]:opacity-100",
            "data-[selected=false]:translate-y-3 data-[selected=true]:z-10",
            "data-[selected=false]:scale-90 origin-bottom",
          ]}
        >
          <Works />
        </div>
        <div
          id="content"
          data-selected="true"
          class:list={[
            "size-full absolute top-0 left-0 transition-all opacity-50 translate-y-0 data-[selected=true]:opacity-100",
            "data-[selected=false]:translate-y-3 data-[selected=true]:z-10",
            "data-[selected=false]:scale-90 origin-bottom",
          ]}
        >
          <About />
        </div>
      </div>

      <div class="w-full flex justify-center mt-8">
        <div class="flex items-center gap-3">
          <button
            id="button-left"
            class="bg-white/5 transition-colors hover:bg-white/10 rounded-full size-9 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-left-icon lucide-chevron-left"
              ><path d="m15 18-6-6 6-6"></path></svg
            >
          </button>
          <div
            id="pages"
            class="bg-sunny/10 rounded-full flex items-center gap-1 px-3 text-xs py-2 text-sunny"
          >
            <div
              id="page"
              data-selected="true"
              class="bg-sunny/50 rounded-full h-1 w-1 data-[selected=true]:bg-sunny data-[selected=true]:w-5 transition-all"
            >
            </div>
            <div
              id="page"
              class="bg-sunny/50 rounded-full h-1 w-1 data-[selected=true]:bg-sunny data-[selected=true]:w-5 transition-all"
            >
            </div>
          </div>
          <button
            id="button-right"
            class="bg-white/5 transition-colors hover:bg-white/10 rounded-full size-9 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-right-icon lucide-chevron-right"
              ><path d="m9 18 6-6-6-6"></path></svg
            >
          </button>
        </div>
      </div>

      <div class="w-full flex flex-col items-center mt-6">
        <p class="text-xs text-neutral-500">2025&copy; Kebabhan</p>
      </div>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const indicators = document.querySelectorAll(
      "#page",
    ) as any as HTMLElement[];
    const contents = document.querySelectorAll(
      "#content",
    ) as any as HTMLElement[];

    const buttonLeft = document.querySelector("#button-left") as HTMLElement;
    const buttonRight = document.querySelector("#button-right") as HTMLElement;

    let currentPage = 0;

    function checkIndicators() {
      indicators.forEach((indicator, idx) => {
        if (idx === currentPage) {
          indicator.setAttribute("data-selected", "true");
        } else {
          indicator.setAttribute("data-selected", "false");
        }
      });
    }

    function checkContents() {
      contents.forEach((content, idx) => {
        const reverseIdx = contents.length - 1 - idx;
        if (reverseIdx === currentPage) {
          content.setAttribute("data-selected", "true");
        } else {
          content.setAttribute("data-selected", "false");
        }
      });
    }

    checkIndicators();
    checkContents();

    buttonLeft.addEventListener("click", () => {
      currentPage = currentPage <= 0 ? 1 : currentPage - 1;
      checkIndicators();
      checkContents();
    });
    buttonRight.addEventListener("click", () => {
      currentPage = currentPage >= 1 ? 0 : currentPage + 1;
      checkIndicators();
      checkContents();
    });
  });
</script>
