<div class="size-full flex flex-col items-start">
  <div
    class="w-full flex flex-col items-start"
  >
    <div class="text-sm font-medium">
      About
    </div>

    <div class="w-full flex flex-col items-start mt-5 mb-1">
      <div class="flex flex-col gap-2 text-xs font-medium text-white/60">
        <p>Hi, I'm Tengku Farhan. a Full-stack engineer based in Jakarta.</p>
        <p>
          Currently available for Projects
        </p>
      </div>
    </div>
  </div>
</div>
