---
import SpotifyPlay from "./SpotifyPlay.astro";
---

<footer class="w-full text-sm font-news hidden lg:flex justify-center px-5">
  <div
    class="w-full flex flex-col md:flex-row md:items-center gap-12 justify-between"
  >
    <div
      class="flex flex-col gap-5 md:flex-row md:items-center w-full justify-between"
    >
      <p class="text-neutral-400">2024&copy; Kebabhan</p>
      <div class="ml-6 text-neutral-400">
        <div
          class="flex flex-wrap items-center gap-2 font-news text-sm lg:mt-auto"
        >
          <a
            href="https://github.com/tfarhan00"
            target="_blank"
            class="hover:underline hover:text-neutral-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-neutral-400 size-6 -rotate-90 hover:fill-neutral-500"
              viewBox="0 0 256 256"
              ><path
                d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
              ></path></svg
            >
          </a>
          <span class="w-[1px] h-4 bg-neutral-400"></span>
          <a
            href="https://linkedin.com/in/tengkufarhan"
            target="_blank"
            class="hover:underline hover:text-neutral-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-neutral-400 size-6 -rotate-90 hover:fill-neutral-500"
              viewBox="0 0 256 256"
              ><path
                d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"
              ></path></svg
            >
          </a>
          <span class="w-[1px] h-4 bg-neutral-400"></span>
          <a
            href="https://t.me/havernut"
            target="_blank"
            class="hover:underline hover:text-neutral-600"
          >
            <svg
              class="fill-neutral-400 size-6 -rotate-90 hover:fill-neutral-500"
              viewBox="0 0 256 256"
              ><path
                d="M228.88,26.19a9,9,0,0,0-9.16-1.57L17.06,103.93a14.22,14.22,0,0,0,2.43,27.21L72,141.45V200a15.92,15.92,0,0,0,10,14.83,15.91,15.91,0,0,0,17.51-3.73l25.32-26.26L165,220a15.88,15.88,0,0,0,10.51,4,16.3,16.3,0,0,0,5-.79,15.85,15.85,0,0,0,10.67-11.63L231.77,35A9,9,0,0,0,228.88,26.19Zm-61.14,36L78.15,126.35l-49.6-9.73ZM88,200V152.52l24.79,21.74Zm87.53,8L92.85,135.5l119-85.29Z"
              ></path></svg
            >
          </a>
          <span class="w-[1px] h-4 bg-neutral-400"></span>
          <a
            href="mailto:farhan@kebabhan.dev"
            class="hover:underline hover:text-neutral-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-neutral-400 size-6 -rotate-90 hover:fill-neutral-500"
              viewBox="0 0 256 256"
              ><path
                d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <div class="ml-6">
        <SpotifyPlay />
      </div>
    </div>
  </div>
</footer>
