---
import Layout from "./Layout.astro";
import SpotifyPlay from "../components/SpotifyPlay.astro";

const { title } = Astro.props;
---

<Layout title={title}>
  <main class="w-full min-h-screen flex flex-col p-5 md:p-12 max-w-8xl">
    <div class="w-full flex flex-col lg:flex-row grow">
      <div class="w-[300px] flex flex-col">
        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <div class="flex items-center gap-1">
              <h1 class="font-semibold font-manrope text-sunny text-2xl">
                Kebabhan
              </h1>
            </div>
          </div>
        </div>

        <div class="grow flex flex-row lg:flex-col justify-between mt-6">
          <!-- Add blogs? -->
          <!-- <div class="flex flex-col gap-2 font-news text-sm">
            <a href="/" class="hover:underline">Home</a>
            <a href="/about" class="hover:underline">About</a>
          </div> -->
          

          <div class="flex flex-col gap-2 font-news text-sm lg:mt-auto">
            <a
              href="https://x.com/kebabhan_"
              target="_blank"
              class="hover:underline">X</a
            >
            <a
              href="https://github.com/tfarhan00"
              target="_blank"
              class="hover:underline">Github</a
            >
            <a
              href="https://linkedin.com/in/tengkufarhan"
              target="_blank"
              class="hover:underline">LinkedIn</a
            >
            <a
              href="https://t.me/havernut"
              target="_blank"
              class="hover:underline">Telegram</a
            >
            <a href="mailto:han@arcturelab.com" class="hover:underline"
              >han@arcturelab.com</a
            >
          </div>
        </div>
      </div>

      <div class="flex-1">
        <slot />
      </div>
    </div>
    <footer
      class="flex items-center justify-between mt-auto w-full text-sm font-news pt-10"
    >
      <p class="text-neutral-400">2024&copy; Kebabhan</p>
      <SpotifyPlay />
    </footer>
  </main>
</Layout>
